<section class="ProductDetail">
  <h2 class="ProductDetail__title">Detail Product</h2>
  <form class="ProductDetail__form" [formGroup]="productsForm">
    <div class="ProductDetail__form-status">
      <label class="ProductDetail__form-status-title">
        <b>Status</b>
      </label>
      <div class="ProductDetail__form-status-a">
        <input id="status-a" formControlName="status" type="radio" name="status" [value]="true">
        <label for='status-a'>
          Active
        </label>
      </div>
      <div class="ProductDetail__form-status-i">
        <input id="status-i" formControlName="status" type="radio" name="status" [value]="false">
        <label for='status-i'>
          Inactive
        </label>
      </div>
    </div>

    <div class="ProductDetail__form-title">
      <label for="title">
        <b>Title</b>
      </label>
      <input id="title" formControlName="title" type="text" placeholder="title" [disabled]='desactive'>
    </div>

    <div class="ProductDetail__form-description">
      <label><b>
          Description
        </b></label>
      <textarea id="description" formControlName="description" type="text" placeholder="description"></textarea>
    </div>

    <div class="ProductDetail__form-quantity">
      <label>
        <b>
          Quantity
        </b>
      </label>
      <input formControlName="quantity" type="number" placeholder="quantity">
    </div>

    <div class="ProductDetail__form-measure">
      <label>
        <b>Measure</b>
      </label>
      <select name="measure" formControlName="measureId">
        <option *ngFor="let measure of mesuares" [ngValue]="measure.id">{{measure.measure}}</option>
      </select>
    </div>
    <div class="ProductDetail__form-category">
      <label>
        <b>Category</b>
      </label>
      <select formControlName="categoryId" name="category"
        (ngModelChange)="getSubcategories(productsForm.controls.categoryId.value)">
        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.title}}</option>
      </select>
    </div>

    <div class="ProductDetail__form-subcategory">
      <label>
        <b>
          Subcategory
        </b>
      </label>
      <select formControlName="subcategoryId" name="subcategoryId">
        <option *ngFor="let subcategory of subcategories" [ngValue]="subcategory.id">{{subcategory.title}}</option>
      </select>
    </div>
    <label for="urlImage" class="ProductDetail__form-img">
      <img *ngIf="!croppedImage" src="{{productsForm.controls.urlImage.value}}"
        alt="{{productsForm.controls.title.value}}">
      <img [src]="croppedImage" />
      <input id="urlImage" (change)="fileChangeEvent($event)" formControlName="url" type="file" placeholder="Image"
        accept="image/*">
    </label>
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
      format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"></image-cropper>
    <app-button *ngIf='!desactive' icon='send' class="ProductDetail__form-btn" name='send' color='primary'></app-button>
  </form>
</section>