<div (window:resize)="onResize($event)" class="category" (click)="iconArrow = !iconArrow">
	<div class="category__image">
		<img src="{{category.url_image}}" alt="{{category.category}}" class="category__icon">
	</div>
	<div class="category__title">
		<h3 class="category__title-item">{{category.category}}</h3>
	</div>
	<div class="category__direction">
		<i *ngIf="iconArrow" class="material-icons space_2_left_mg">keyboard_arrow_up</i>
		<i *ngIf="!iconArrow" class="material-icons space_2_left_mg">keyboard_arrow_down</i>
	</div>
</div>
<div *ngIf="iconArrow" class="subcategory">
	<ul class="subcategory-items">
		<ng-container *ngFor="let subCategories of category.subCategories">
			<li><a href="#">{{subCategories.subcategory}}</a></li>
		</ng-container>
	</ul>
</div>