<section class="GardenProducts">
  <a class="GardenProducts-title primary-dark" [routerLink]="['/products/',type,id, title]">
    <h2>
      {{title}}
    </h2>
  </a>

  <div class="GardenProducts-items">
    <ng-container *ngFor="let product of products">
        <app-products-card [isLink]='isLink' type='info' [product]="product" [direction]="'vertical'"></app-products-card>
    </ng-container>
    <a *ngIf="more" class="GardenProducts-more primary-dark"
    [routerLink]="['/products/',type,id, title]">
        <h3>
          <span class="material-icons">
            library_add
          </span>
          <br>
          show more {{title}}'s products
        </h3>
    </a>
  </div>
</section>