<section class="GardenProducts">
  <a class="GardenProducts-title primary-dark" [routerLink]="['/products/',type,id, title]">
    <h2>
      {{title}}
    </h2>
  </a>

  <div class="GardenProducts-items">
    <ng-container *ngFor="let product of products">
      <app-products-card [isLink]="true" type='info' [product]="product" [direction]="'vertical'"></app-products-card>
    </ng-container>
    <a *ngIf="more" class="GardenProducts-more primary-dark" [routerLink]="['/products/',type,id, title]">
      <span>SHOW</span>
      <span class="GardenProducts-more-text">M<span class="material-icons">
          add_circle
        </span>RE</span>
    </a>
  </div>
<app-adverstiment></app-adverstiment>
</section>

