<section class="adverstiment bg-white">
	
	<div class="addverstiment__supermarket">
		<div class="addverstiment__supermarket--title bg-primary-dark">
			<img src="assets/images/supermarketAdd.png" alt="supermarket adverstiment">
		</div>
		<div class="addverstiment__supermarket--content bg-white">
			<h2 class="white">Do you want to  <span class="primary-dark space_left_mg"> sell more</span><span class="contrast">?</span></h2>
			<h3>Register as a supermarket and offer your products</h3>
			<app-button name="Start" color='contrast' icon="">
			</app-button>
		</div>
	
	</div>

</section>