<section class="comparation">
	<section class="comparation__header">
		<h2 class="comparation__header-title">Comparation</h2>
		<table class="comparation__header-table">
			<thead>
				<tr class="comparation__header-table--allCheaper">
					<td colspan="2"></td>
					<td colspan="2">All</td>
					<td colspan="2">Cheaper</td>
				</tr>
				<tr class="comparation__header-table--countValue">
					<td colspan="2"></td>
					<td>Count</td>
					<td>Value</td>
					<td>Count</td>
					<td>Value</td>
				</tr>

			</thead>
			<tbody>
				<tr *ngFor="let header of headers" class="comparation__header-table--supermarket">
					<td colspan="2">
						<img src="{{header.urlImage}}" alt="{{header.supermarket}}">
					</td>
					<td>
						<p>{{header.all.total_products}}</p>
					</td>
					<td>
						<p>{{header.all.total_sum}}</p>
					</td>
					<td>
						<p>{{header.cheapest.total_products}}</p>
					</td>
					<td>
						<p>{{header.cheapest.total_sum}}</p>
					</td>
				</tr>
				<tr class="comparation__header-table--total">
					<td colspan="4">Total</td>
					<td>{{totalProducts}}</td>
					<td>${{totalValue}}</td>
				</tr>
			</tbody>
		</table>
		<app-button class="comparation__header-btnAll" name="All" color='contrast' icon="">
		</app-button>
		<app-button class="comparation__header-btnCheaper" name="Cheaper" color='contrast' icon="">
		</app-button>
	</section>

	<section class="comparation__detail">
		<h2 class="comparation__detail-title">Detail Products</h2>
		<div class="comparation__detail-items">
			<ng-container *ngFor="let product of products">
				<section class="Cart">
					<img class="Cart__head" src="assets/card-head.png" alt="backgound card">
					<div class="Cart__content">
						<div class="Cart__content__product">
							<div class="Cart__content__product-img">
								<img src="{{product.urlImage}}" alt="{{product.name}}" />
							</div>
							<h3>{{product.name |titlecase | slice:0:40}}</h3>
						</div>
						<div class="Cart__content__supermarkerts">
							<div *ngFor="let super of product.supermarkers" class="Cart__content__supermarkerts-item">
								<div class="Cart__content__supermarkerts-item-img">
									<img src="{{super.urlImage}}" alt={{super.name}} />
								</div>
								<h5>{{super.price | currency :'USD':'$':'1.2'}}</h5>
							</div>
						</div>
					</div>
					<div class="foo">
						<div class="foo__circle foo__circle-lg foo__circle-contrast"></div>
						<div class="foo__circle foo__circle-md foo__circle-primary"></div>
						<div class="foo__circle foo__circle-sm foo__circle-primaryGradiente"></div>
					</div>
				</section>
			</ng-container>
		</div>
	</section>
</section>