@import "./token/_color";
@import "./token/_type";
@import "./token/_spacing";
@import "./token/_mixins.scss";
html,
body {
  font-family: $font;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  font-size: $font-size;
  color: $primary-dark;
}
:focus {
  outline: none;
}
