<div class="topNavbar space_top primary-bg-gradiente">
	<div class="topNavbar__hamburguer">
		<i class="material-icons">menu</i>
	</div>
	<div class="topNavbar__logo">
		<img *ngIf="homepage" src="assets/images/brand/LogoBlue.png" alt="Logo">
		<img *ngIf="!homepage" src="assets/images/brand/LogoWhite.png" alt="Logo">
	</div>
	<div class="topNavbar__search">
		<app-search></app-search>
	</div>
	<div class="topNavbar__menu">
		<app-cart [homepage]="homepage"></app-cart>
		<app-button *ngIf="homepage" color='primary' type='Login'></app-button>
		<app-button *ngIf="!homepage" color='light' type='Login'></app-button>
	</div>
</div>

<div class="sideBottom">
	<app-side-bottom-menu></app-side-bottom-menu>
</div>