<div class="HeroLocation">
	<div id="map"></div>
	<div class="HeroLocation__banner">
		<div class="HeroLocation__banner-back bg-contrast"></div>
		<div class="HeroLocation__banner-front bg-primary-dark"></div>
		<div class="HeroLocation__banner-content white">
			<h2 class="HeroLocation__banner-title">Where do we take your order?</h2>
			<app-search class="HeroLocation__banner-input"></app-search>
			<div class="HeroLocation__banner-img" >
				<img src="assets/images/locationImage.gif" alt="Logo">
			</div>
			<app-button class="HeroLocation__banner-button" name="Insert Location" color='contrast' icon="location_on">
			</app-button>
		</div>
	</div>
</div>