<section class="panel">
	<div class="back bg-contrast"></div>
	<aside class="sidebar bg-primary-dark">
		<div class="sidebar__hero">
			<div class="sidebar__hero--supermarket">
				<img src="assets/super2.png" alt="supermarket" class="logo">
				<i class="material-icons">add_a_photo</i>
			</div>
			<h3>Supermarket</h3>
		</div>
		<nav class="sidebar__nav">
			<ul>
				<li><a routerLink="/admin">Dashboard</a></li>
				<li><a routerLink="/admin">Orders</a></li>
				<li><a routerLink="/admin">Products</a></li>
			</ul>
		</nav>
		<div class="sidebar__brand">
			<img src="assets/images/brand/LogoWhite.png" alt="Kairos">
		</div>
	</aside>
	<section class="content">
		
	</section>
</section>