@import "_var";
@import "_mixins";

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid $primary-dark;
  border-radius: 30px;
  box-shadow: 3px 2px 11px 0 $desactive;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  & > img {
    position: absolute;
    top: -1%;
    width: 100%;
    height: 20%;
  }
  &__horizontal {
    & > img {
      height: 40%;
    }
  }
}
.foo {
  position: absolute;
  bottom: 3%;
  right: 3%;
  display: grid;
  grid-template-areas: "c1 c2" "c1 c3";
  &__circle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    &-lg {
      grid-area: c1;
      width: 12px;
      height: 12px;
      margin: 2px;
    }
    &-md {
      grid-area: c2;
      width: 8px;
      height: 8px;
    }
    &-sm {
      grid-area: c3;
      width: 6px;
      height: 6px;
    }
    &-contrast {
      background: $contrast;
    }
    &-primary {
      background: $primary;
    }
    &-primaryGradiente {
      @include primary-bg-gradiente;
    }
  }
}
.content {
  display: grid;
  z-index: 1;
  width: 90%;
  height: 100%;
  min-width: 250px;
  min-height: 350px;
  &__horizontal {
    min-height: 150px;
  }
  &__title {
    grid-area: title;
  }
  &__img {
    grid-area: img;
    max-height: 90%;
  }
  &__action {
    grid-area: action;
    align-self: end;
    &-count {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      &-number {
        text-align: center;
        background-color: $light;
        border: 1px solid $primary-dark;
        border-radius: 5px;
        width: 10%;
      }
    }
    &-add {
      display: none;
    }
    &-price {
      font-weight: 700;
      font-size: $h4;
      align-self: center;
    }
  }
  &__weight {
    grid-area: weight;
  }
  &__description {
    grid-area: description;
  }
  &__super1 {
    grid-area: super1;
  }
  &__super2 {
    grid-area: super2;
  }
  &__super3 {
    grid-area: super3;
  }
  &__super1,
  &__super2,
  &__super3 {
    margin-top: 10%;
    display: grid;
    grid-template-rows: 80% 20%;
    height: 100%;
    justify-items: center;
    align-items: center;
    & > img {
      width: 90%;
      border-radius: 30px;
    }
  }
  &:hover {
    & .content__action-add {
      display: block;
    }
    & .content__action-price {
      transform: scale(1.2);
    }
    & .content__img {
      margin-bottom: 3%;
    }
  }
  &__info {
    grid-template-areas: "title" "img" "action" "weight" "description";
    grid-template-rows: 10% 35% 10% 10% 30%;
    justify-items: center;
    align-items: center;
    align-content: flex-end;
    & .content {
      &__super1,
      &__super2,
      &__super3 {
        display: none;
      }
    }
    &.content__horizontal {
      width: 80%;
      height: 90%;
      grid-template-areas:
        "img title weight"
        "img description description"
        "img action action";
      grid-template-rows: initial;
      column-gap: 2%;
      justify-content: center;
      align-items: center;
    }
  }
  &__comparation {
    grid-template-areas:
      "title title title"
      "img weight weight"
      "img description description"
      "img action action"
      "super1 super2 super3";
    grid-template-rows: 15% 10% 25% 10% 25%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    justify-items: center;
    align-content: center;
    align-items: center;
    & .content {
      &__action-price {
        display: none;
      }
    }
    &:hover {
      & .content__action-add {
        display: none;
      }
    }
    &.content__horizontal {
      width: 80%;
      height: 90%;
      grid-template-areas:
        "img title title weight"
        "img description description description"
        "img action action action"
        "img super1 super2 super3";
      grid-template-rows: 15% 25% 10% 25%;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2%;
      justify-content: center;
      align-items: center;
    }
  }
}
