<section class="Layout" [ngClass]="{'active':burguerToggle, 'panel':admin}">
  <app-top-navbar [login]="login" [homepage]="!login || admin" class="Layout__header">
  </app-top-navbar>
  <app-side-bottom-menu *ngIf="!admin" class="Layout__sideBottom" [toggle]="burguerToggle">
  </app-side-bottom-menu>
  <app-panel *ngIf="admin" class="Layout__panel" [toggle]="burguerToggle"></app-panel>
  <main class="Layout__content" [ngClass]="{'main': !burguerToggle && !admin}">
    <router-outlet></router-outlet>
    <div (click)="viewCategories()" [ngClass]="{'opacity': burguerToggle}"></div>
  </main>
</section>