@import "_mixins";

.sideBottom {
	padding: 2% 0 0 0;
	display: none;
	position: absolute;
	z-index: 10;
	width: 60%;
	height: 90vh;
	max-width: 300px;
	min-width: 220px;
	box-shadow: 1px 1px 3px black;
	@include primary-bg-gradiente;
	&__content {
		flex-direction: column;
		width: 98%;
		height: 100%;
		@include styleScrollY;
		&-categories {
			margin: 5% 0% 0% 0%;
		}
		&-categories {
			position: relative;
		}
	}
}
.show {
	display: block;
}
@media screen and (max-width: 580px) {
	.sideBottom {
		display: none;
		position: absolute;
		z-index: 10;
		top: auto;
		bottom: auto;
		width: 90vw;
		height: 90vh;
		max-width: 300px;
		min-width: 220px;
		box-shadow: 1px 1px 3px black;
		@include primary-bg-gradiente;
		&__bg {
			display: none;
		}
		&__content {
			flex-direction: column;
			width: 98%;
			height: 100%;
			@include styleScrollY;
			&-categories {
				margin: 5% 0% 0% 0%;
			}
		}

	}
	.show {
		display: block;
	}
}