<section class="profile__allInfo">
	<div class="profile__image">
		<img src="{{user.urlImage}}" alt="{{user.firstName}}">
		<input type="file">
	</div>
	<form #profileForm="ngForm" class="profile__info">
		<h2 id="title">Profile User</h2>
		<div id="name" class="profile__floating">
			<input name="name" [(ngModel)]="user.firstName" class="profile__floating--input"	type="text">
			<label class="profile__floating--label">Name</label>
		</div>
		<div id="lastname" class="profile__floating">
			<input name="lastname" [(ngModel)]="user.lastName" class="profile__floating--input"	type="text">
			<label class="profile__floating--label">Lastame</label>
		</div>
		<div id="phone" class="profile__floating">
			<input name="phone" [(ngModel)]="user.phone" class="profile__floating--input"	type="text">
			<label class="profile__floating--label">Phone</label>
		</div>
		<div id="location" class="profile__floating">
			<input name="location" [(ngModel)]="user.location" class="profile__floating--input"	type="text">
			<label class="profile__floating--label">Location</label>
		</div>
		<div id="email" class="profile__floating">
			<input name="email" [ngModel]="user.email" disabled class="profile__floating--input"	type="text">
			<label class="profile__floating--label">Email</label>
		</div>
		<p class="contrast saveChanges" (click)="saveChanges()">Save changes</p>
		<p class="contrast saveChanges" (click)="logout()" routerLink="/home">Logout</p>
	</form>
	<div class="bg-contrast back">
		<div class="bg-primary-dark back__front">
			<div class="back__front--message space_4_top_mg">
				<h3>We <span>promise</span> that your data is <span>always</span>safe and <span>secure</span></h3>
			</div>
		</div>
	</div>
</section>