<section class='Home'>
<!--   <div class='Home__location'></div> -->
    <app-hero-Location class='Home__location'></app-hero-Location>
<!--   <section class="Home__products">
    <h2>Category</h2>
    <div class="Home__products-items">
      <ng-container *ngFor="let product of products">
        <app-products-card type='info' [product]="product"></app-products-card>
      </ng-container>
      <ng-container *ngFor="let product of products">
        <app-products-card type='comparation' [product]="product"></app-products-card>
      </ng-container>
    </div>
  </section> -->
</section>