<section class='ProductDetail'>
  <app-products-card class='ProductDetail__product' [isLink]="false" type='info' [product]="product"
    [direction]="'horizontal'"></app-products-card>
  <section class="Relations" *ngIf='productsRetations'>
    <h2>Relation's Products</h2>
    <div class="Relations__items">
      <app-products-card class="Relations__items-item" *ngFor="let p of productsRetations" [isLink]="true" type='info'
        [product]="p" [direction]="'vertical'"></app-products-card>
    </div>
  </section>
</section>