<section class="login space_3_left space_3_right">
	<div class="login__image">
		<img src="assets/images/login.png" alt="imagen Login">
	</div>
	<form [formGroup]="loginForm" class="login__form" (ngSubmit)='send()'>
		<h2>Login</h2>
		<input class="space_bottom_mg"
	           type="email"
	           placeholder="example@domain.com"
	           formControlName="email"
	           [class.is-invalid]="_validationsService.invalidEmail(loginForm)"
	           >
	    <p *ngIf="_validationsService.invalidEmail(loginForm)" class="warning space_bottom_mg invalid">Invalid email</p>
		<input class="space_bottom_mg"
	           type="password"
	           placeholder="Password"
	           formControlName="password"
	           [class.is-invalid]="_validationsService.invalidPassword(loginForm)">
	    <p *ngIf="_validationsService.invalidPassword(loginForm)" class="warning space_bottom_mg invalid">Invalid password</p>
		<app-button class="login__form-btn" name="login" color='primary' type='submit' icon="person"></app-button>
		<p>You are not registered? <a  routerLink='/register' class="contrast">Register here</a></p>
	</form>
</section>