@import '../../../../styles/token/_spacing.scss';
@import '../../../../styles/token/_type.scss';
.search {
	display: flex;
	&__input {
		box-shadow: 1px 2px 3px black;
		border-right: 0px;
		width: 80%;
		height: $space;
		border-radius: 5*$space;
		text-align: center;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	&__button {
		box-shadow: 1px 2px 3px black;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		border: 0px;
		cursor: pointer;
		width: 5*$space;
		height: 34px;
		& i {
			display: flex;
			justify-content: center;
			color: white;
		}
	}
}

@media screen and (max-width: 760px){
	.space_top_mg {
		margin-top: 0px !important;
	}
}